<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name= "SalesForce">

<listeners>
<listener class-name="com.training.listeners.TestListener"> </listener>
</listeners>

<test name= "SalesForceApplication">

    <classes>
    
    <class name= "com.SalesForce1.testcases.SFLoginTest"/>
    
    </classes>
    
</test>

</suite>
